<app-header-user></app-header-user>
<app-tab-menu></app-tab-menu>


<div class="ui-g">
    <div class="ui-g-12 ui-md-6">
        <p-card>
            <p-chart type="doughnut" [data]="doughnutChartData" [height]="200" [width]="200"></p-chart>
        </p-card>
    </div>
</div>