
  <div class="header">
    <h2>NETLINK SUSPECT TRANSACTIONS PLATFORM  Last Update 2021-04-06</h2>
    <img width="429"  height="60" ealt="Logo" src="./assets/images/netlink-testlabs.JPG" />
  </div>

