<app-header-user></app-header-user>
<app-tab-menu></app-tab-menu>
<p-table #dt [columns]="cols" [value]="logInfos"
         selectionMode="single" [(selection)]="selectedLogInfo" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]">
    <ng-template pTemplate="caption">
        <div style="text-align: right">

            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input *ngSwitchCase="'messageType'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input *ngSwitchCase="'bic'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input *ngSwitchCase="'messageRef'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <p-dropdown *ngSwitchCase="'checked'" [style]="{'width':'100%'}"  [options]="checked" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                <ng-container *ngIf="col.field==='checked'">
                    <input type="checkbox"  class="customCheckBox large"  value="rowData.checked" [checked]="rowData[col.field]" (change)="mark(rowData)" />
                </ng-container>
                <ng-container *ngIf="col.field!=='checked'">
                    {{rowData[col.field]}}
                </ng-container>

            </td>
        </tr>
    </ng-template>

</p-table>


