<div class="container">
    <div class="ui-g-4"><label for="username">Username</label></div>
        <div class="ui-g-8"><input pInputText id="username" [(ngModel)]="username" /></div>

        <div class="ui-g-4"><label for="password">Password</label></div>
        <div class="ui-g-8"><input pInputText id="password" input type="password"[(ngModel)]="password" /></div>
        <br>
    <button pButton icon="pi"  (click)="checkLogin()" label="Login"></button>
  </div>