<app-header-user></app-header-user>
<app-tab-menu></app-tab-menu>
<p-table #dt [columns]="cols" [value]="users"
         selectionMode="single" [(selection)]="selectedUser" (onRowSelect)="onRowSelect($event)" [paginator]="true"  [rows]="10" [rowsPerPageOptions]="[5,10,15,20]">
    <ng-template pTemplate="caption">
        <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input *ngSwitchCase="'username'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </ng-template>
</p-table>

<p-dialog header="User details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [closable]="true" [style]="{'width':'300px'}">
    <div class="ui-g ui-fluid" >
        <div class="ui-g-4"><label for="username">Username</label></div>
        <div class="ui-g-8"><input pInputText id="username" [(ngModel)]="user.username" /></div>

        <div class="ui-g-4"><label for="password">Password</label></div>
        <div class="ui-g-8"><input pInputText id="password" input type="password"[(ngModel)]="user.password" /></div>
       
        <div class="ui-g-4"><label for="lastName">Last Name</label></div>
        <div class="ui-g-8"><input pInputText id="lastName" [(ngModel)]="user.lastName" /></div>

        <div class="ui-g-4"><label for="firstName">First Name</label></div>
        <div class="ui-g-8"><input pInputText id="firstName" [(ngModel)]="user.firstName" /></div>

        <div class="ui-g-4"><label for="email">Email</label></div>
        <div class="ui-g-8"><input pInputText id="email" [(ngModel)]="user.email" /></div>
    </div>
    <div *ngIf="isUpdateUserError">Username already exists!</div>
    <p-footer>
        <div>
            <button pButton icon="pi pi-plus"  (click)="save()" label="Save"></button>
            <button pButton icon="pi pi-minus"  (click)="delete()" label="Delete"></button>
        </div>
    </p-footer>
</p-dialog>

