<app-header-user></app-header-user>
<app-tab-menu></app-tab-menu>
<p-panel header="Enable Bic Validation">
    <div>Bic Validation:</div>
    <input type="checkbox"  class="customCheckBox large" [(ngModel)]= "checked" value="settings.enableBicValidation" (change)="mark(settings)" />
</p-panel>
<p-panel header="Archive logs">
    <div>Archive from:</div>
    <p-calendar [(ngModel)]="start" icon="pi pi-calendar" showIcon = true>
    </p-calendar>
    <br>
    <br>
    <div>Archive until:</div>
    <p-calendar [(ngModel)]="end" icon="pi pi-calendar"  showIcon = true>
    </p-calendar>
    <br>
    <div class="text-center">
    <button pButton icon="pi pi-save" (click)="onArchive()" label="Archive logs">
    </button>
</div>
<div class="container" *ngIf="invalidRange">
    <h3>Start date should be before end date! </h3>
</div>
<div class="container" *ngIf="isArchiveSuccess">
    <h3>Logs archived successfully </h3>
</div>
<div class="container" *ngIf="isArchiveError">
    <h3>Errors archiving logs </h3>
</div>
</p-panel>
<p-panel header="Upload logs">
<button pButton icon="pi pi-plus" (click)="fileInput.click()" label="Upload log file">
    <input #fileInput type="file" (change)="onChange($event)" style="display:none;"/>
</button>
<div class="container" *ngIf="isUploadSuccess">
    <h3>Log file uploaded</h3>
</div>
<div class="container" *ngIf="isArchiveError">
    <h3>Errors uploading log file </h3>
</div>
</p-panel>
